<a href="@Url.Action("GioHang", "Giohang")" style="color:white; font-weight: bold; text-decoration:none;">
    
    <img src="~/Content/imagines/giohang.gif" style="width:20px; height:auto" /> Giỏ hàng(@ViewBag.Tongsoluong)
</a>
